<!--admin/dashboard.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{|/|}" th:text="'STAR ELECTRONICS'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{|/|}" th:text="'Home'"></a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link" th:href="@{|/login|}" th:text="'Log in'"
                           sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                        <a class="nav-link" th:href="@{|/register|}" th:text="'Register'"
                           sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/user/dashboard|}" th:text="'User Dashboard'"
                           sec:authorize="hasAuthority('USER')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/admin/dashboard|}" th:text="'Admin Dashboard'"
                           sec:authorize="hasAuthority('ADMIN')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" th:text="'Log out'"
                           sec:authorize="isAuthenticated()"></a>
                    </li>

                    <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                    <a class="nav-link" sec:authentication="authorities" sec:authorize="isAuthenticated()"></a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>

    <!-- PAGE TITLE-->
    <section class="jumbotron text-center" style="padding-top: 80px;">
        <div class="row py-lg-5" style="margin-bottom: 20px;">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light text-white">Admin Dashboard</h1>
            </div>
        </div>
    </section>

    <!-- DASHBOARD TILES-->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <a th:href="@{|/admin/stockMgmt|}" style="text-decoration: none; color: inherit; ">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top"
                                 src="https://images.pexels.com/photos/4484151/pexels-photo-4484151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                 alt="Thumbnail">
                            <div class="card-body">
                                <p class="card-text">
                                <p><h4>Stock Management</h4></p>Our system allows administrators to easily view and
                                update our stock database by searching for items and sorting the results by various
                                attributes, just like customers can.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- TODOLIST TILE-->
                <a th:href="@{|/admin/customerHist|}" style="text-decoration: none; color: inherit; ">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top"
                                 src="https://images.pexels.com/photos/7621136/pexels-photo-7621136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                 alt="Thumbnail">
                            <div class="card-body">
                                <p class="card-text">
                                <p><h4>Customer Purchases</h4></p>In addition to managing our inventory, administrators
                                can view customer details and purchase histories, allowing them to better understand and
                                serve our customers' needs.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>

<!-- FOOTER-->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="https://www.facebook.com/"
               role="button"
               data-mdb-ripple-color="dark"><i class="bi bi-facebook"></i></a>
            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="https://twitter.com/?lang=en"
               role="button"
               data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></a>
            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="https://www.instagram.com/"
               role="button"
               data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
               href="https://ie.linkedin.com/"
               role="button"
               data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center text-dark p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" th:href="@{|/|}" th:text="'STAR ELECTRONICS'"></a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>