<!--user/rate.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rate Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{|/|}" th:text="'STAR ELECTRONICS'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{|/|}" th:text="'Home'"></a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link" th:href="@{|/login|}" th:text="'Log in'"
                           sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                        <a class="nav-link" th:href="@{|/register|}" th:text="'Register'"
                           sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/user/dashboard|}" th:text="'User Dashboard'"
                           sec:authorize="hasAuthority('USER')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/admin/dashboard|}" th:text="'Admin Dashboard'"
                           sec:authorize="hasAuthority('ADMIN')"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" th:text="'Log out'"
                           sec:authorize="isAuthenticated()"></a>
                    </li>

                    <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                    <a class="nav-link" sec:authentication="authorities" sec:authorize="isAuthenticated()"></a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
<p>...............................................................</p>
<h1>Rate Items</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Manufacturer</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stockItem : ${stockItemList}">
        <td th:text="${stockItem.title}"></td>
        <td th:text="${stockItem.manufacturer}"></td>
        <td th:text="${stockItem.price}"></td>
        <td th:text="${stockItem.category}"></td>
        <td><img th:src="${stockItem.image}" height="100" width="100"/></td>
        <td>
            <form th:action="@{/rate/rate-form/{id}(id=${stockItem.id})}" method="get">
                <button type="submit">Rate</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>